body{
    margin:0;
    font-family:Poppins;
    background:linear-gradient(120deg,#0f172a,#1e293b);
    color:white;
}

/* layout */

.dashboard{
    display:flex;
    min-height:100vh;
}

/* sidebar */

.sidebar{
    width:220px;
    background:#020617;
    padding:30px;
    display:flex;
    flex-direction:column;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{

    padding:12px;

    margin-bottom:10px;

    border-radius:8px;

    cursor:pointer;

}

.sidebar li.active{

    background:linear-gradient(90deg,#6366f1,#a855f7);

}

/* main */

.main{

    flex:1;

    padding:40px;

}

.subtitle{
    color:#94a3b8;
    margin-bottom:30px;
}

/* grid */

.grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

/* cards */

.card{

    background:rgba(255,255,255,0.05);

    padding:30px;

    border-radius:16px;

    backdrop-filter:blur(10px);

}

/* domain cards */

.domain-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:20px;

    margin-top:20px;

}

.domain{

    background:#1e293b;

    padding:30px;

    border-radius:12px;

    text-align:center;

    cursor:pointer;

    transition:0.3s;

}

.domain i{

    font-size:30px;

    margin-bottom:10px;

    display:block;

}

.domain:hover{

    border:1px solid #a855f7;

    transform:translateY(-5px);

}

.domain.active{

    border:2px solid #a855f7;

}

/* topic */

select{

    width:100%;

    padding:12px;

    margin-top:10px;

    border-radius:10px;

    border:none;

    background:#1e293b;

    color:white;

}

/* difficulty */

.difficulty{

    display:flex;

    gap:15px;

    margin-top:15px;

}

.level{

    padding:12px 18px;

    background:#1e293b;

    border-radius:10px;

    cursor:pointer;

}

.level.active{

    background:linear-gradient(90deg,#6366f1,#a855f7);

}

/* button */

.start-btn{

    width:100%;

    margin-top:25px;

    padding:15px;

    border:none;

    border-radius:10px;

    font-size:16px;

    background:linear-gradient(90deg,#6366f1,#a855f7);

    color:white;

    cursor:pointer;

}

.note{

    margin-top:10px;

    color:#94a3b8;

    font-size:14px;

}
.level{
    flex:1;
    text-align:center;
}

@media (max-width:1000px){

    .grid{
        grid-template-columns:1fr;
    }

    .main{
        padding:30px;
    }

}

@media (max-width:768px){

    .dashboard{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
        padding:15px;
    }

    .main{
        padding:20px;
    }

    .domain-grid{
        grid-template-columns:1fr;
    }

}
@media (max-width:480px){

    h1{
        font-size:22px;
    }

    .card{
        padding:20px;
    }

    .domain{
        padding:20px;
    }

    .start-btn{
        padding:14px;
        font-size:15px;
    }

}